pipeline/CopyAllToDatalake.json
{
	"name": "CopyAllToDatalake",
	"properties": {
		"activities": [
			{
				"name": "LookupTablesCnf",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from cnf_sources where Enable=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterSource",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupTablesCnf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTablesCnf').output.Value\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(Item().Datasource,'ERP')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterSource').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Export table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DsOracleSource",
									"type": "DatasetReference",
									"parameters": {
										"cw_tablename": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetSrcBronce",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "4ENTITIES/BEDIVAR/Trip"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-30T08:05:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}