pipeline/CopyAllToDatalake_V2.json
{
	"name": "CopyAllToDatalake_V2",
	"properties": {
		"activities": [
			{
				"name": "LookupTablesCnf",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from cnf_sources where Enable=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterSource",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupTablesCnf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTablesCnf').output.Value\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(Item().Datasource,'ERP')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterSource').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().IncrementalFullLoad,1))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DsOracleSource",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DSParquetIngestDataTest",
												"type": "DatasetReference",
												"parameters": {
													"pDs_filename": "item().Tablename"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "GetMAxlastupdateFromCnfSourcesTable",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Select Tablename,MaxLastUpdateDate from cnf_sources",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureSqlTablesCnf",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "CopyFromOnPremisToDatalake",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "GetMAxlastupdateFromCnfSourcesTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DsOracleSource",
												"type": "DatasetReference",
												"parameters": {
													"cw_tablename": {
														"value": "@item().Tablename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DSParquetIngestDataTest",
												"type": "DatasetReference",
												"parameters": {
													"pDs_filename": "@item().Tablename"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "4ENTITIES/BEDIVAR/Trip"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-30T08:05:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}